<%= render 'shared/header' %>
<%# showアクションはteams/show.cssも適用 %>
<div class="team-wrap">
  <div class="team-name">
    <%= @task.task_name %>
  </div>
  <div class="task-member-top">
    <div class="team-member">タスク管理者</div>
    <%= @user.nickname %>
  </div>

  <ul class="task-content">
    <li class="content-top">
      <div class="content">タスク内容</div>
      <% if @task.content.present? %>
        <div class="task-contens"><%= @task.content %></div>
      <% else %>
        <div class="temporary">編集からタスク内容を追加しましょう!</div>
      <% end %>
    </li>
    <li class="content-top">
      <div class="target-date">タスク完了目標日</div>
      <% if @task.target_date.present? %>
        <div class="task-contens"><%= @task.target_date.to_s(:datetime_jp) %></div>
      <% else %>
        <div class="temporary">編集から目標完了日を設定しましょう!</div>
      <% end %>
    </li>
    <li class="content-top">
      <div class="report">レポート</div>
      <% if @task.report.present? %>
        <div class="task-contens"><%= @task.report %></div>
      <% else %>
        <div class="temporary">編集から作業報告をしましょう!</div>
      <% end %>
    </li>
    <li class="content-top">
      <div class="final-report">完了レポート</div>
      <% if @task.final_report.present? %>
        <div class="task-contens"><%= @task.final_report %></div>
      <% else %>
        <div class="temporary">編集から完了報告をしましょう!</div>
      <% end %>
    </li>
    <li class="content-top">
      <div class="task-item">タスク項目</div>
      <div class="task-contens"><%= @task.task_item %></div>
    </li>
  </ul>

  <div class="team-action">
    <% if current_user.id == @task.user_id %>
    <div class="action-btn">
      <%= link_to 'タスクの編集', "#", method: :get, class: "team-edit-btn" %>
      <p class='or-text'>OR</p>
      <%= link_to '削除', "#", method: :delete, class:'team-destroy' %>
    </div>
    <% else %>
      <div class="temporary">編集は管理者のみが可能です</div>
    <% end %>
  </div>
  <%= link_to '戻る', team_list_tasks_path(@team.id,@list.id)%>
</div>