<%= render 'shared/header'%>
<div class="user-wrap">
  <%# ユーザーのニックネームとユーザーidを表示 %>
  <div class="user-top">
    <div class="user-name">
      <%= @user.nickname %>
      <div class="user-id">ID：
        <%= @user.user_name %>
      </div>
    </div>
    <div class="relationship">
      <% if current_user.following?(@user) %>
        <%= link_to 'フォロー外す', unfollow_path(@user.id), method: :post, class:"follow-btn" %>
      <% else %>
        <%= link_to 'フォロー', follow_path(@user.id), method: :post, class:"follow-btn" %>
      <% end %>
    </div>
  </div>

  <% if @user.profile.present? %>
  <div class="user-info-top">ユーザー情報</div>
    <div class="user-info">
      <%= @user.profile %>
    </div>
  <% end %>

  <%# ユーザーが所属するチームの一覧を表示 %>
  <% if @user.id == current_user.id %>
    <div class="user-team-wrap">
      <div class="user-team-top"><%= @user.nickname%>が所属するチーム</div>
      <% @user.teams.each do |team| %>
        <div class="user-team">
          <%= link_to team.team_name, team_lists_path(team), class:"team-name" %>
        </div>
      <% end %>
    </div>
    <div class="user-team-wrap">
      <div class="user-team-top"><%= @user.nickname%>が最近閲覧したタスク</div>
        <% @history.each do |history| %>
          <% if history.user_id == current_user.id %>
            <div class="user-team">
              <%= history.task.task_name %>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="team-action">
      <div class="action-btn">
        <%= link_to 'ユーザーの編集', edit_user_registration_path, method: :get, class: "team-edit-btn" %>
      </div>
    </div>
  <% end %>
  <%= link_to '戻る', :back %>
</div>
