<%# shared/team.cssに依存 %>
<div class="task-top">
  <div class="team-new">
    <%= link_to '新規タスク作成', new_team_list_task_path(@team.id,@list), class:"teams-create" %>
  </div>
  <div class="teams">
    <%= link_to @list.list_name, team_list_path(@team.id, @list), class:"team-name" %>
    <% @tasks.each do |task| %>
    <div class="team">
      <div>
      <% if task.final_report.present? || task.final_report_date.present? %>
        <span class="check"></span>
        <%= link_to task.task_name, team_list_task_path(@team.id, @list.id, task), class:"team-name" %>
        <% if task.final_report_date.present? %>
          <span class="report_date"><%= task.final_report_date.to_s(:datetime_jp) %></span>
        <% end %>
      <% else %>
        <%= link_to task.task_name, team_list_task_path(@team.id, @list.id, task), class:"team-name" %>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>